header{
    background-color: rgb(253, 34, 34);
    text-align: center;
    padding: 10px;
}
img{
    width: 150px;
    margin-right: 780px; 
}
a{
    padding: 20px;
    text-decoration: none;
    color:rgb(0, 0, 0);
}
h1{
    text-align: center;
}
form{
    text-align: center;
    background-color: bisque;
}
.checkbox{
    margin-right: 900px;
}
.aaa #reset {
    margin-right: 150px;
    background-color: yellow;
}
.aaa #submit{
    background-color: green;
}
body{
    background-color: bisque;
}
